<!DOCTYPE html>
<html>
<head>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel = "stylesheet" href="/public/style.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<title>Share Your Travels</title>
</head>
<body>
    <nav>
        <div class="menu-icon">
        </div>
        <div class="logo">
            <img id ="logo" src = "/public/staticimages/logo_transparent.png" >
        </div>
        <div class="nav-items">
            <form action="/homePageLoggedIn/<%=profile.username%>" method="get">
               <li><button type="submit">Home</button></li>
            </form>
            </div>
            <form action="/searchpost" method="post" id ="searchform">
                <input type="search" class="search-data" placeholder="Search" name="search" required>
                <button type="submit">Search</button>
             </form>
            <div class="nav-items">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <form action="/aboutpage/<%=profile.username%>" method="get">
                <li><button type="submit">About Us</button></li>
                </form>
                <form action="/myprofile/<%=profile.username%>" method="get">
                <li><button type="submit">My Profile</button></li>
                </form>
                <form action="/homepage1" method="post">
                <li><button type="submit">Sign Out</button></li>
                </form>
             </div>
    </nav>
    <p>
        <br><br><br>
        <center>
        <h1> Publish a Post </h1> 
        <br>
        <form action="/createpost" method="post" enctype="multipart/form-data">
            <label for="image">Image</label> 
            <input type="file" name="image">
            <br>
            <label for="title">Give your trip a title!</label> 
            <br>
            <input type="text" placeholder="Enter Trip Title" name="title" required>
            <br>
            <label for="date">When did you go on this adventure?</label> 
            <input type="date" name="date">
            <br>
            <label for="rating">Rate your trip!</label> 
            <br>
            <select name="rating">
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
              </select>
            <br>
            <label for="content">Review : </label>
            <br> 
            <textarea rows = "5" cols = "60" placeholder = "Tell us what you thought of your adventure here..." name = "content"></textarea>
             <br>
            <button type="submit" class="publish" id="btn1">Publish Post</button>              
        </form>  
        </center> 
        /p>
</body>
</html>
