<!DOCTYPE html>
<html>
<head>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel = "stylesheet" href="/public/style.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<title>Sign Up</title>
</head>
<body>
    <nav>
        <div class="menu-icon">
        </div>
        <div class="logo">
            <img id ="logo" src = "/public/staticimages/logo_transparent.png" >
        </div>
        <div class="nav-items">
            <form action="/homepage1" method="post">
               <li><button type="submit">Home</button></li>
            </form>
            </div>
            <div class="nav-items">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <form action="/aboutpage2" method="post">
                    <li><button type="submit">About Us</button></li>
                    </form>
                <form action="/loginpage" method="post">
                <li><button type="submit">Sign In</button></li>
                </form>
                <form action="/signuppage" method="post">
                <li><button type="submit">Sign Up</button></li>
                </form>
             </div>
     </nav>    
    
        <br><br><br><br><br><br>
        <center>
        <h1> Sign Up to Travelcations PH!</h1> 
        <br>
        <form action="/signupuser" method="post">
            <label for="fname">First Name: </label> 
            <br>
            <input type="text" placeholder="Enter First Name" name="fname" required>
            <br>
            <label for="lname">Last Name: </label> 
            <br>
            <input type="text" placeholder="Enter Last Name" name="lname" required>
            <br>
            <label for="eaddress">Email Address: </label> 
            <br>
            <input type="text" placeholder="Enter Email Address" name="eaddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <br>
            <label for="username">Username: </label> 
            <br>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <label for="password">Password (must be at least 8 characters): </label>
            <br> 
            <input type="password" placeholder="Enter Password" name="password" pattern=".{8,}" required>
            <input type="submit">
            <br>
            <label for="bio">Bio: </label>
            <br>
            <textarea rows = "5" cols = "60" placeholder = "Tell us something about yourself..." name = "bio"></textarea>
            <br>
            <button type="submit" class ="signin" id="btn1">Sign Me Up!</button>              
        </form>  
        </center> 
    
</body>
</html>
